<div class="row">
    <div class="col-12 text-primary">
        <h2>Add new Servers or Blueprints!</h2>
        <label for="">Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="newServerName">
        <label for="">Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
    </div>
    <br>
    <button class="btn btn-primary" [disabled]="newServerName === '' || newServerContent === ''"
        (click)="onAddServer()">Add Server</button> &nbsp;
    <button class="btn btn-primary" [disabled]="newServerName === '' || newServerContent === ''"
        (click)="onAddServerBlueprint()">Add Server Blueprint</button>
</div>
<!-- ./row -->