<label for="serverName">Server Name:</label>

<!-- <input type="text" class="form-control" id="serverName" (input)="onUpdateServerName($event)"> -->
<input type="text" id="serverName" class="form-control" [(ngModel)]="serverName">

<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer || serverName == ''" 
    (click)="onCreateServer()"
    >Add Server</button>

<!-- <p>{{ serverCreationStatus }}</p> -->
<br>
<p *ngIf="serverCreated">Server was Created, server name: {{ serverName }}</p>


<br>
<app-server *ngFor="let item of servers"></app-server>


